.sectionH5 {
    text-align: center;
    color: #A3A5A5;
    font-style: italic;
    font-size: 0.9rem;
}

.sectionH2 {
    text-align: center;
    color: #515857;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contactContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5rem;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
}

.input, .textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #515857;
    resize: none;
    color: #D8E2E1;
}

.input, .textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.btnPrimary {
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    color: #A3A5A5;
    border: 1px solid #A3A5A5;
    padding: 0.75rem 1.2rem;
    transition: all 400ms ease;
    cursor: pointer;
}
  
  .btnPrimary:hover {
    background: #A3A5A5;
    color: #515857;
    border-color: transparent;
  }

  .btnPrimary:focus {
    outline: none !important;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .form {
        width: 75%;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .form {
        width: 90%;
    }

    .btnPrimary {
        width: 50%; 
    }
}