.sectionH5 {
    text-align: center;
    color: #A3A5A5;
    font-style: italic;
    font-size: 0.9rem;
}

.sectionH2 {
    text-align: center;
    color: #515857;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.experienceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin-bottom: 5rem;
    justify-items: center;
}

.experienceContainer > div {
    background: #515857;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    width: 75%;
}

.experienceContainer > div:hover {
    background: transparent;
    border-color: #515857;
    cursor: default;
}

.experienceContainerH3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #A3A5A5;
}

.experienceContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experienceDetails {
    display: flex;
    gap: 1rem;
}

.experienceDetailsIcon {
    margin-top: 6px;
    color: #A3A5A5;
}

.experienceDetailsH4 {
    color: #D8E2E1;
}

.experienceDetailsCircles {
    font-size: 0.4rem;
    margin-top: 4px;
    color: #A3A5A5;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .experienceContainer {
        grid-template-columns: 1fr;
    }

    .experienceContainer > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experienceContent {
        padding: 1rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .experienceContainer {
        gap: 1rem;
    }

    .experienceContainer > div {
        width: 90%;
        padding: 2rem 1rem;
    }
}