.heroSection {
  background-color: black;
  height: 105vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.heroImg {
    width: 85%;
}
 
/* MOBILE */
@media screen and (max-width: 1024px) {
  .heroSection {
    height: auto;
    padding-top: 7rem;
    margin-bottom: 5rem;
  }
}