.sectionH5 {
  text-align: center;
  color: #a3a5a5;
  font-style: italic;
  font-size: 0.9rem;
}

.sectionH2 {
  text-align: center;
  color: #515857;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
  padding: 0rem 5rem 0rem 5rem;
  justify-items: center;
}

.portfolioItem {
  position: relative;
}

.portfolioItemImage {
  width: 100%;
  height: 99%;
  position: relative;
  
}

.portfolioOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(81, 88, 87, 0.7);
    backdrop-filter: blur(5px);
}

.portfolioOverlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.portfolioOverlay:hover {
    opacity: 1;
}

.portfolioOverlay:hover > * {
  transform: translateY(0);
}

.portfolioH3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.portfolioParagraph {
  margin-bottom: 2rem;
  padding: 0 2rem 0 2rem;
}

.btnPrimary {
  color: white;
  background: #a3a5a5;
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 400ms ease;
  margin-right: 1rem;
}

.btnPrimary:hover {
  background: #a3a5a5;
  color: #515857;
  border-color: transparent;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .portfolioContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  
  .portfolioItem {
    width: 75%;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .portfolioContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    justify-items: center;
  }

  .portfolioItem {
    width: 90%;
  }
}
